# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.egg-info/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data layers
data/bronze/
data/silver/
data/gold/
data/quarantine/

# DuckDB runtime files
data/*.duckdb
data/*.duckdb.wal

# Logs
logs/

# Temporary files
*.part
*.tmp

# OS files
.DS_Store
Thumbs.db

# Ruff
.ruff_cache/

# Power BI local files
**/.pbi/localSettings.json
**/.pbi/editorSettings.json
**/.pbi/cache.abf
